<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saved or not</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex" style="height:100%">
    <p>
        <%= msg %>
    </p>
    <% if(typeof score != 'undefined') {%>
    <div class="grid">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Score is :-</div>
            <div class="card-body">
                <p class="card-text">
                    <%= score %>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">comparative is :-</div>
            <div class="card-body">
                <p class="card-text">
                    <%= comparative %>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Tokens in submitted post is :-</div>
            <div class="card-body">
                <p class="card-text">
                    <%= tokens %>
                </p>
            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Words in submitted post is :-</div>
            <div class="card-body">
                <p class="card-text">
                    <%= words %>
                </p>
            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Positive words in submitted post is :-</div>
            <div class="card-body">
                <p class="card-text">
                    <%= positive %>
                </p>
            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Negative in submitted post is :-</div>
            <div class="card-body">
                <p class="card-text">
                    <%= negative %>
                </p>
            </div>
        </div>
    </div>
    <% } %>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>